/* RESET CSS*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* fim RESET CSS*/


body {
  font-family: 'Biryani', sans-serif;
  font-weight: 700;
  background-color: black;
}

/* color > color */
.c2013 {
  color: #45b6bb;
}
.c2012 {
  color: #189e98;
}

/* color > dots */
.dot2013_2 {
  width: 3em;
  height: 1em;
  border-radius: 50%;
  background-color: #45b6bb;
}
.dot2013 {
  width: 3em;
  height: 1em;
  border-radius: 50%;
  background-color: #45b6bb;
}
.dot2012 {
  width: 3em;
  height: 1em;
  border-radius: 50%;
  background-color: #189e98;
}

/* bars */
.bar2013_2 {
  width: 80%;
  height: 1em;
  border-radius: 20px;
  background-color: #45b6bb;
}
.bar2013 {
  width: 80%;
  height: 1em;
  border-radius: 20px;
  background-color: #45b6bb;
}
.bar2012 {
  width: 100%;
  height: 1em;
  border-radius: 20px;
  background-color: #189e98;
}

/* ---LAYOUT--- */


.lft {
  background-color: white;
  display: flex;
  margin: 0 auto;
  width: 50%;
  padding: 1%;
}

.xp {
  margin: 0;
}

.xp h2 {
  font-weight: 200;
  font-size: 1.5em;
  padding-bottom: 5%;
}

.year {
  display: inline-flex;
  text-align: justify;
  background-color: blue;
  padding-bottom: 5%;
}

.year p {
  font-size:0.8em;
  color: black;
  background-color: white;
  width: 70%;
}

.year h3 {
  font-size: 0.8em;
  font-weight: 400;
  background-color: white;
  width: 10%;
}
